<h1>Genetic Typer</h1>
<p>Genetic algorithm are basically a way to evolve an algorithm through iterations.
The algorithm is based on 4 steps:
<ul>
  <li>Calculate the fitness of each "individual"</li>
  <li>Create a mating pool accordingly</li>
  <li>Breed</li>
  <li>Mutate</li>
</ul>

The following example is based on an example from <a href="http://natureofcode.com/book/chapter-9-the-evolution-of-code/">Nature Of Code</a>.<br/> All credits are given there.
<br/><br/>
By tweaking the values, you should be able to test and see what is a good deal between the size of the population/number of generations/mutation rate.</p>
<br/>
<%= form_tag('/experiences/genetic_typer_run', remote: true) do %>
  <div class="row">
    <div class="span3"><%= label :sentence, 'Type in a sentence to find:' %></div>
    <div class="span6"><%= text_field_tag :sentence, 'to be or not not be' %></div>
  </div>

  <div class="row">
    <div class="span3"><%= label :num_pop, 'Size of population:' %></div>
    <div class="span3"><%= number_field_tag :num_pop, nil, value: 150, min: 0, max: 300 %></div>
  </div>  

  <div class="row">
    <div class="span3"><%= label :num_gen, 'Number generations:' %></div>
    <div class="span3"><%= number_field_tag :num_gen, nil, value: 1000, min: 0, max: 2000 %></div>
  </div>

  <div class="row">
    <div class="span3"><%= label :mutation_rate, 'Mutation rate:' %></div>
    <div class="span3"><%= number_field_tag :mutation_rate, nil, value: 0.02, step: 0.01, min: 0, max: 100 %></div>
  </div>

  <br/>
  <div class="row">
    <div class="span1"> <%= submit_tag("Run", id: "run") %></div>
    <br/>
    <div class="span2" id="running" style="display: none">Running ...</div>
    <div class="span3" id="time" style="display: none"></div>
  </div>
<% end %>

<div class="row">
  <div class="span5">
    <textarea id="first_generation"></textarea>
  </div>
  <div class="span5 offset2">
    <textarea id="last_generation"></textarea>
  </div>
</div>